.app{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.time-selector{ 
grid-column: 1;
display: grid;
grid-template-columns:  1fr;
grid-template-rows: 1fr 1fr 1fr  1fr 1fr 1fr 1fr;
align-items: center; 
}

.sound-picker{
grid-column: 3;
display: grid;
grid-template-columns:  1fr;
grid-template-rows: 2fr 2fr 1fr 2fr 2fr;
align-items: center; 
justify-items: center;
}
.sound-picker button img {
  width: min(100%,15vmax);
  height: min(100%,15vmax);  
  background: none;
  cursor: pointer;
  font-size: max(3vw,1em);
}

.player-container{
  grid-column: 2;
display: grid;
grid-template-columns:  1fr;
grid-template-rows: 1fr 2fr 1fr;
align-items: center; 
justify-items: center;
}
.player-container svg{
  grid-row: 2;
  width: calc(33vw);
  height: 33vw ;
  position: absolute;  
  transform: rotate(-90deg);
  pointer-events: none;
}
.play{
  grid-row: 2;
  width: max(15%,10vw);
  height: max(15%,10vw);
  
  position: absolute;
  cursor: pointer;
}
.time-display{
  grid-row: 2;
  position:absolute;
  bottom: calc((100vh - 47vmax)/2);
  color: white;
  font-size: 3vmax;
}
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  z-index: -5;
}

.video-container video {
  min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.time-selector button{
  color: white;
  margin-left: 10%;
  width: 70%;
  height: 80%;
  background: none;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 1vmax;
  white-space: nowrap;
  font-size: max(3vw,1em);
  transform: all 0.5s ease;
}
.sound-picker button{
  color: white;
  background: none;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 1vmax;
  transform: all 0.5s ease;
}
.time-selector button:hover{
  color: black;
  background: white;
}
.sound-picker button{
  border: none;
}
@media (max-width: 700px) {
  .app{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 50% 25%;
  }
  .time-selector button{
    color: white;
    margin-left: 0;
    margin: 1vw;
    height: 30%;
    border-radius: 1vmax;
    white-space: nowrap;
    font-size: max(3vw,1em);
    transform: all 0.5s ease;
  }
.time-selector{ 
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: center; 
  margin-right: 9vw;
  margin-left: 9vw;
  }
  
  .sound-picker{
  grid-row: 3;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30vw;
  }
  
  .player-container{
    grid-row: 2;
    grid-column: 1;
  align-items: center; 
  justify-items: center;
  }
  .player-container svg{
    
    width: 50vh;
    height: 50vh ;
    position: absolute;  
    transform: rotate(-90deg);
    pointer-events: none;
  }
  .play{
    grid-row: 2;
    width: max(15%,10vw);
    height: max(15%,10vw);

    position: absolute;
    cursor: pointer;
  }
  .time-display{
    position:absolute;
    bottom: calc(10vh);
    left: calc(50vw-2em);
   
    color: white;
    font-size: 2em;
  }
}